<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}">
</head>
<body>
    <h1>Student Performance Analysis</h1>
    <div class="container">
        <a class="link" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a class="link" href="{{ url_for('story') }}">Story</a>
        <a class="link" href="{{ url_for('report') }}">Report</a>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
